{% extends 'Chemistry/base.html' %}

{% block title %}
<title>{{ title }}</title>
{% endblock %}

{% block main-title %}
О Фармакогнозии с любовью!
{% endblock %}

{% block content %}
  <div class="blog-btn-card">
    <div class="blog-text-card">
      Категории
    </div>
      {% for substance in object_list %}
    <a class="btn-card btn btn-outline-success" href="{{ substance.get_absolute_url }}">
        {{ substance }}
    </a>
      {% endfor %}
  </div>
{% endblock %}


{% block pagination %}
{% if is_paginated %}
  <div class="pagination-blog">
    <nav aria-label="Page navigation example">
      <ul class="pagination">
        <li class="page-item {% if not page_obj.has_previous %} disabled {% endif %}">
          <a class="page-link" href="{% if page_obj.has_previous %} {% url 'paginator' page_obj.previous_page_number %} {% else %} # {% endif %}" aria-label="Previous">
            <span aria-hidden="true">&laquo;</span>
          </a>
        </li>
          {% for page in paginator.page_range %}
            <li class="page-item"><a class="page-link" href="{% url 'paginator' page %}">{{ page }}</a></li>
          {% endfor %}
        <li class="page-item {% if not page_obj.has_next %} disabled {% endif %}">
          <a class="page-link" href="{% if page_obj.has_next %} {% url 'paginator' page_obj.next_page_number %} {% else %} # {% endif %}" aria-label="Next">
            <span aria-hidden="true">&raquo;</span>
          </a>
        </li>
      </ul>
    </nav>
  </div>
{% endif %}
{% endblock %}